.row {
    background: #f6f6f6;
    border: 1px solid #ccc;
    overflow: hidden;
    padding: 10px;
}

input, select {
	background: transparent !important;
	border: none !important;
	border: 2px solid !important;
	border-radius: 0px !important;
	box-shadow: none !important;
	color: #444 !important;
	font-size: 14px !important;
	font-weight: 300 !important;
	line-height: 25px !important;
	height: 50px !important;
	margin-bottom: 30px !important;
	padding: 15px !important;
	width: 100%;
	-webkit-transition: all .8s linear;
	-moz-transition: all .8s linear;
	-ms-transition: all .8s linear;
	-o-transition: all .8s linear;
	transition: all .8s linear;
}



.szures-btn {display: block;margin-top: 10px;}

/*Buttons*/
.btn input[type="submit"] {
display: inline-block;
padding: 4px 8px;
margin-bottom: 0;
font-size: 14px;
font-weight: normal;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
-webkit-user-select: none;
   -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
padding: 10px 15px !important;
line-height: 0 !important;
}
 .btn-primary, .button-warning, .d-print-none {
  display: inline-block;
	border-radius: 0px;
	text-decoration: none;
	padding: 10px 15px;
	font-size: 12px;
	line-height: 19px;
	text-transform: uppercase;
	letter-spacing: 4px;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}
.btn-primary {background-color: #5d91cd;border-color: #5d91cd}
.footer-buttons {margin-top: 10px}

p {
	color: #444;
	//font-size: 12px;
	line-height:21px;
}
h1, h2 {font-size: 1.4rem}


@media only screen and (max-width: 600px) {


  .car-list {
    margin-top: 20px;
  }
  li a {font-size: .85rem}

  .footer-buttons {
    margin-top: 20px;
  }

h1,h2 {font-size: 1.2em}

}


@media print {
 .d-print-none {
  display: none!important;
 }
}
