{% extends 'base.html' %}
{% block title_block %}
Gépjárművek
{% endblock %}
{% block content_block %}
<div class='jumbotron'>
  <h1>Gépjárművek listája</h1>
</div>

<div class="container">
  <span class="col btn-primary">
    <a href="{% url 'time_sheet:car_create' %}" class="btn btn-primary">Új Gépjármű hozzáadása</a>
  </span>

  <div class="container">
    <div class="row member-list">
      <ol>
        {% for car in car_list %}
        <li><a href="{% url 'time_sheet:car_detail' pk=car.pk %}"><strong>{{car.car_plate}}</strong> - {{car.car_type}} </a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
</div>
{% endblock %}
