{% extends 'base.html' %}
{% block title_block %}
Szolgálat
{% endblock %}
{% block content_block %}


<div class='jumbotron'>
  <h1>Szolgálatok összesítése</h1>
  <h3>{{car}}</h3>
  <p> {{start}} - {{end}}</p>
</div>

<hr>
<div class="container">
  <div id="orak">
    <h2>Szolgálati órák</h2>
    <div class="row">
      <div class="col-6 col-sm-6 col-md-2">
        Rendőrrel / Egyéb szervvel:
      </div>
      <div class="col-6 col-sm-6 col-md-2">
        {{r}} óra / {{er}} óra
      </div>
      <div class="col-6 col-sm-6 col-md-2">
        Rendezvény:
      </div>
      <div class="col-6 col-sm-6 col-md-2">
        {{re}} óra
      </div>
      <div class="col-6 col-sm-6 col-md-2">
        Kutyás:
      </div>
      <div class="col-6 col-sm-6 col-md-2">
        {{k}} óra
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-sm-6 col-md-3">
        Önálló (ebből Egyéb):
      </div>
      <div class="col-6 col-sm-6 col-md-3">
        {{tot_o}} óra ({{e}} óra)
      </div>
      <div class="col-6 col-sm-6 col-md-3">
        Mindösszesen:
      </div>
      <div class="col-6 col-sm-6 col-md-3">
        {{tot}} óra
      </div>
    </div>
  </div>

  <hr>
  <div id="esetek">
    <div class="row">
      <div class="col-6 col-sm-6 col-md-2">
        Visszatartás:
      </div>
      <div class="col-6 col-sm-6 col-md-2">
        {{retention}} alkalom
      </div>
      <div class="col-6 col-sm-6 col-md-2">
        Tettenérés:
      </div>
      <div class="col-6 col-sm-6 col-md-2">
        {{caught}} alkalom
      </div>

      <div class="col-6 col-sm-6 col-md-2">
        Eltűnt személy:
      </div>
      <div class="col-6 col-sm-6 col-md-2">
        {{missing}} alkalom
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-sm-6 col-md-2">
        Jelzésadás:
      </div>
      <div class="col">
        {{signal}} alkalom
      </div>
      <div class="col-6 col-sm-6 col-md-2">
        Segítség-nyújtás:
      </div>
      <div class="col-6 col-sm-6 col-md-2">
        {{help}} fő
      </div>
      <div class="col-6 col-sm-6 col-md-2">
        Egyéb:
      </div>
      <div class="col">
        {{other}} alkalom
      </div>
    </div>
  </div>

  <hr>
  <div id="egyeb">
    <h2>Egyéb adatok</h2>
    <div class="row">
      <div class="col-6 col-sm-6 col-md-2 duty_cars">
        Használók száma:
      </div>
      <div class="col-6 col-sm-6 col-md-2 duty_cars">
        {{members}} fő <a data-toggle="collapse" data-target="#duty-collapse" aria-expanded="false" aria-controls="duty-collapes">
          <i class="fa fa-arrow-down print-none" aria-hidden="true"></i>
        </a>
      </div>
      <div class="col-6 col-sm-6 col-md-2">
        Megtett kilométerek:
      </div>
      <div class="col-6 col-sm-6 col-md-2">
        {{kms}} km  <a data-toggle="collapse" data-target="#duty-collapse" aria-expanded="false" aria-controls="duty-collapes">
          <i class="fa fa-arrow-down print-none" aria-hidden="true"></i></a>
        </div>
      <div class="col-6 col-sm-6 col-md-2">
        Aktív napok
      </div>
      <div class="col-6 col-sm-6 col-md-2">
        {{days}} nap <a data-toggle="collapse" data-target="#duty-collapse" aria-expanded="false" aria-controls="duty-collapes">
          <i class="fa fa-arrow-down print-none" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    {% comment %} <div class="row">
      <div class="col-6 col-sm-6 col-md-2 duty_cars">
        {{members}} fő <a data-toggle="collapse" data-target="#duty-collapse" aria-expanded="false" aria-controls="duty-collapes">
          <i class="fa fa-arrow-down print-none" aria-hidden="true"></i>
        </a>
      </div>
      <div class="col-6 col-sm-6 col-md-2">
        {{kms}} km  <a data-toggle="collapse" data-target="#duty-collapse" aria-expanded="false" aria-controls="duty-collapes">
          <i class="fa fa-arrow-down print-none" aria-hidden="true"></i>
        </div>
        <div class="col-6 col-sm-6 col-md-2">
          {{days}} nap <a data-toggle="collapse" data-target="#duty-collapse" aria-expanded="false" aria-controls="duty-collapes">
            <i class="fa fa-arrow-down print-none" aria-hidden="true"></i>
          </a>
        </div>
      </div> {% endcomment %}
    </div>
  </div>
  <div class="container">
    <div class="row collapse" id='duty-collapse'>
      <div id="duty_plates" class="col-sm">
        <h3>Gépjárművet használól:</h3>
        <ol>
          {% for user in users  %}
          <li>{{user}}</li>
          {% endfor %}
        </ol>
      </div>
      <div id="duty_dates" class="col-sm">
        <h3>Aktív napok:</h3>
        <ol>
          {% for day in dates %}
          <li>{{day}}</li>
          {% endfor %}
        </ol>
      </div>
    </div>
  </div>

  <div class="container footer-buttons">
    <a href="{% url 'time_sheet:car_detail' pk=pk %}" class="btn btn-primary d-print-none">Vissza</a>
    <button onclick="window.print()" class="btn btn-warning d-print-none">Nyomtatás</button>

  </div>
</div>

{% endblock %}
