{% extends 'base.html' %}
{% block title_block %}
Gépjárművek
{% endblock %}
{% block content_block %}
<div class='jumbotron'>
  <h1>Gépjárművek listája</h1>
</div>

<div class="container">
  <a href="{% url 'time_sheet:car_create' %}" class="btn btn-primary">Új Gépjármű hozzáadása</a>

  <div class="container car-list">

    <ol>
      {% for car in car_list %}
      <li><a href="{% url 'time_sheet:car_detail' pk=car.pk %}"><strong>Frsz:</strong> {{car.car_plate}}</a></li>
      {% endfor %}
    </ol>
  </div>
</div>
{% endblock %}
