{% extends 'base.html' %}
{% block title_block %}
Gépjárművek
{% endblock %}
{% block content_block %}
<div class='jumbotron'>
  <h1>Gépjárművek listája</h1>
</div>

<div class="container">
<a href="{% url 'time_sheet:car_create' %}" class="btn btn-primary">Új Gépjármű hozzáadása</a>

  <div class="container car-list">


  {% for car in car_list %}

    <h2>{{car.pk}} : {{car.car_plate}}</a></h2>
    <ul>
      <li><strong>Típus:</strong> {{car.car_type}}</li>
      <li><strong>Üzemanyag:</strong> {{car.get_fuel_type_display}}</li>
      <li><strong>Lökettérfogat:</strong> {{car.ccm}}ccm</li>
    </ul>
  {% endfor %}
</div>
</div>
{% endblock %}
