{% extends 'base.html' %}
{% block title_block %}
Szolgálatok
{% endblock %}
{% block content_block %}
<div class='jumbotron'>
  <h1>Szolgálatok listája</h1>
</div>
<div class="container">
  <a href="{% url 'time_sheet:duty_create' %}" class="btn btn-primary">Új Szolgálat rögzítése</a>
</div>
<hr>
<div class="row">
  <div class="col">
    <h2>Szolgálatok szűrése</h2>
    <p>Jelöld ki az intervallumot:</p>
    <form class="form-inline" action="{% url 'time_sheet:duty_filter_list' %}" method="get" autocomplete="off">
      {% csrf_token %}
      <input class="form-control datepicker" type="datetime" name="s" placeholder="Mikortól?">
      <input class="form-control datepicker" type="datetime" name="e" placeholder="Meddig?">
          <p class="szures-btn">
            <input type="submit" value="Szűrés" class="btn btn-primary">
          </p>

    </form>
  </div>
  <div class="col">
    <h2>Szolgálati összesítő</h2>
    <p>Jelöld ki az intervallumot:</p>
    <form class="form-inline" action="{% url 'time_sheet:duty_sum' %}" method="get" autocomplete="off">
      {% csrf_token %}
      <input class="form-control datepicker" type="datetime" name="s" placeholder="Mikortól?">
      <input class="form-control datepicker" type="datetime" name="e" placeholder="Meddig?">

   <div class="form-group col-sm-4">
    <p>Szolgálat típusa:</p>
    <select class="form-control" name='t' id='t'>
      <option value="">Minden típus</option>
      <option value="o">Önálló</option>
      <option value="r">Rendőrrel közös</option>
      <option value="re">Rendezvénybiztosítás</option>
      <option value="k">Kutyás</option>
      <option value="e">Egyéb</option>
    </select>
    <p class="szures-btn">
      <input type="submit" value="Szűrés" class="btn btn-primary">
    </p>
    </form>

   </div>
</div>
</div>
<hr>


  <div class="row member-list">
    <p>Legutóbbi szolgálatok:</p>
    <ol>
      {% for duty in duty_list %}
      <li><a href="{% url 'time_sheet:duty_detail' pk=duty.pk %}"> {{duty.date}} - {{duty.member}} - {{duty.duty_type}}</a></li>
        {% endfor %}
      </ol>
    </div>
  {% endblock %}
