{% extends 'base.html' %}
{% block title_block %}
Szolgálat
{% endblock %}
{% block content_block %}


<div class='jumbotron'>
  <h1>Szolgálatok összesítése</h1>
  <h3>{{last}} {{first}}</h3>
  <p>{{start}} - {{end}}</p>
</div>

<div class="container">

  {% for duty in duties  %}
  <div class="row">
    <div class="col-4">
      {{duty.date}}
    </div>
    <div class="col-4">
      {% if duty.duty_type == "O" %}Önálló {% elif duty.duty_type == "R" %} Rendőrrel közös {% elif duty.duty_type == "Re" %}Rendezvénybiztosítás{% elif duty.duty_type == "K" %}Kutyás{% elif duty.duty_type == "Er" %}Egyéb rendvédelmi szervvel{% else %}Egyéb{% endif %}
    </div>
    <div class="col-4">
      {{duty.hours}} óra
    </div>
  </div>
  {% endfor %}
  <div class="row">
    <div class="col-8">
      <strong>Összesen:</strong>
    </div>
    <div class="col-4">
      <strong>{{hours}}  óra</strong>
    </div>

  </div>
</div>
<div class="container footer-buttons print-none">
  <form class="form-inline" action="{% url 'time_sheet:member_sum' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="s" value="{{start}}">
    <input type="hidden" name="e" value="{{end}}">
    <input type="hidden" name="m" value="{{member}}">
    <input type="submit" value="Összesített lista" class="btn btn-primary d-print-none">
  </form>
  <hr>
  <a href="{% url 'time_sheet:member_detail' pk=pk %}" class="btn btn-secondary d-print-none">Tag adatai</a>
  <button onclick="window.print()" class="btn btn-warning d-print-none">Nyomtatás</button>
  <hr>
  <form class="form-inline" action="{% url 'time_sheet:duty_table' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="s" value="{{start}}">
    <input type="hidden" name="e" value="{{end}}">
    <input type="submit" value="Összes tag szolgálata" class="btn btn-info d-print-none">
  </form>
</div>





{% endblock %}
