{% extends 'base.html' %}
{% block title_block %}
Tagok
{% endblock %}
{% block content_block %}
<div class='jumbotron'>
  <h1>{{member.last_name}}  {{member.first_name}} adatai</h1>
</div>

<div class="container">

  <div class="container member-list">

  <ul>
<li><strong>Igazovány szám: </strong>{{member.id_number}}</li>
<li><strong>PMPSZ azonosító: </strong>{{member.pmpsz_number}}</li>
<li><strong>Csatlakozás dátuma: </strong>{{member.reg_date}}</li>
<li><strong>Ifjú polgárőr: </strong>{% if member.young %}Igen {% else %}Nem{% endif %}</li>
<li><strong>Kutyás polgárőr: </strong>{% if member.dog %}Igen {% else %}Nem{% endif %}</li>
<li><strong>Motoros polgárőr: </strong>{% if member.motor %}Igen {% else %}Nem{% endif %}</li>
<li><strong>Aktív: </strong>{% if member.active %}Igen {% else %}Nem{% endif %}</li>
  </ul>
  <a href="{% url 'time_sheet:member_list' %}" class="btn btn-warning">Vissza</a>
  <a href="{% url 'time_sheet:member_update' pk=member.pk %}" class="btn btn-primary ">Módosítás</a>
  <a href="{% url 'time_sheet:member_delete' pk=member.pk %}" class="btn btn-danger">Törlés</a>
</div>
</div>
{% endblock %}
