{% extends 'base.html' %}
{% block title_block %}
Tagok
{% endblock %}
{% block content_block %}
<div class='jumbotron'>
  <h1>Aktív tagok listája</h1>
</div>

<div class="container">
  <span class="col btn-primary">
    <a href="{% url 'time_sheet:member_create' %}" class="btn btn-primary">Új Tag felvétele</a>
  </span>

  <div class="container">
    <div class="row member-list">


      <ol>
        {% for member in member_list %}
        <li><a href="{% url 'time_sheet:member_detail' pk=member.pk %}"> {{member.last_name}} {{member.first_name}}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <span class="col btn-warning">
    <a href="{% url 'time_sheet:all_member' %}" class="btn btn-warning">Összes tag megjelenítése</a>
  </span>
</div>
{% endblock %}
