{% extends 'base.html' %}
{% block title_block %}
Tagok
{% endblock %}
{% block content_block %}
<div class='jumbotron'>
  <h1>Tagok listája</h1>
</div>

<div class="container">
<a href="{% url 'time_sheet:member_create' %}" class="btn btn-primary">Új Tag felvétele</a>

  <div class="container member-list">

<ul>
  {% for member in member_list %}
  <li>{{member.pk}} : {{member.last_name}} {{member.first_name}}<br>
  <a href="{% url 'time_sheet:member_detail' pk=member.pk %}" class="btn btn-success">Tag adatai</a></li>
  {% endfor %}
  </ul>
</div>
</div>
{% endblock %}
